<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row ">
        <div class="col-7 register-section p-4">
            <h1>SIgn up</h1>
            <p>Sign In to your account</p>
            <div class="mb-2">
                <input class="form-control" type="text" placeholder="user name">
            </div>
            <div class="mb-2">
                <input class="form-control" type="password" placeholder="password">
            </div>
            <div class="mb-2">
                <input class="form-control" type="Email" placeholder="email">
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" [routerLink]="['/login']" routerLinkActive="router-link-active" type="button">sign up</button>
                <a href="">Forget password?</a>
            </div>
        </div>
        <div class="col-5 login-section text-center p-4">
            <h1>login</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn btn-primary" type="button" [routerLink]="['/login']">Login</button>
        </div>
    </div>
</div>