<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-7 login-section">
            <h1>Login</h1>
            <p>Sign In to your account</p>
            <div>
                <input class="form-control" type="text" placeholder="user name">
            </div>
            <div>
                <input class="form-control" type="password" placeholder="password">
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button [routerLink]="['/home']" class="btn btn-primary">login</button>
                <a href=""> Forgot password?</a>
            </div>

        </div>
        <div class="col-5 register-section text-center">
            <h1>SIgn up</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <button type="button" [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-primary">Register Now!</button>
        </div>
    </div>
</div>