<div class="header d-flex justify-content-between p-2 w-100">
    <h1>List all users</h1>
    <div>
        <button *ngIf="isAddingUser" (click)="onSaveClick()" type="button" class="btn btn-primary">Save</button>
        <button *ngIf="!isAddingUser" (click)="onCreateNewUserClick()" type="button" class="btn btn-primary">Create New User</button>
        <button *ngIf="isAddingUser" (click)="onCreateNewUserCancelClick()" type="button" class="btn btn-primary">Cancel</button>
    </div>

    <!-- <a [routerLink]="['/home/user/add-user']" routerLinkActive="router-link-active" class="btn btn-primary">add</a> -->
</div>
<div class="container">


    <div class="row">
        <div class="col-md-5 col-sm-12" *ngIf="isAddingUser">
            <div class="form-group">
                <label>name</label>
                <input [(ngModel)]="fname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>family</label>
                <input [(ngModel)]="lname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>phone</label>
                <input [(ngModel)]="phone" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>mobail</label>
                <input [(ngModel)]="mobail" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>post code</label>
                <input [(ngModel)]="post" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>addres</label>
                <textarea class="form-control" [(ngModel)]="addres" rows="3"></textarea>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 table-responsive-sm">
            <table class="table">
                <tr>
                    <th scope="col">radif</th>
                    <th scope="col">name</th>
                    <th scope="col">family</th>
                    <th scope="col">phone</th>
                    <th scope="col">mobile</th>
                    <th scope="col">post</th>
                    <th scope="col">address</th>
                </tr>
                <tr *ngFor="let user of users" [routerLink]="['/home/user/user-detail']" routerLinkActive="router-link-active">
                    <th scope="row">1</th>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.post}}</td>
                    <td>{{user.address}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->