<div class="header d-flex justify-content-between p-2 w-100">
    <h1>List all users</h1>
    <button (click)="save()" type="button" class="btn btn-primary">Save</button>
</div>
<div class="container">


    <div class="row">
        <div class="col-md-7 col-sm-12 table-responsive">
            <table class="table">
                <tr>
                    <th scope="col">radif</th>
                    <th scope="col">name</th>
                    <th scope="col">family</th>
                    <th scope="col">phone</th>
                    <th scope="col">mobail</th>
                </tr>
                <tr [routerLink]="['/home/user/user-detail']" routerLinkActive="router-link-active">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>55241213</td>
                    <td>09125270782</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>52241232</td>
                    <td>09113206011</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="form-group">
                <label>name</label>
                <input [(ngModel)]="fname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>family</label>
                <input [(ngModel)]="lname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>phone</label>
                <input [(ngModel)]="phone" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>mobail</label>
                <input [(ngModel)]="mobail" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>post code</label>
                <input [(ngModel)]="post" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label>addres</label>
                <textarea class="form-control" [(ngModel)]="addres" rows="3"></textarea>
            </div>
        </div>


    </div>
</div>
<router-outlet></router-outlet>