<div class="header d-flex justify-content-between">
    <h1>List rouls</h1>
    <button class="btn btn-primary" (click)="clickMe()" type="button ">save</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
            <table class="table">
                <caption>List of users</caption>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">mobail</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>02313554</td>
                </tr>
            </table>

        </div>
        <div class="col-5">
            <div class="form-group">
                <label>Name</label>
                <input [(ngModel)]="name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="desc" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>